* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    height: 100vh;
    width: 100vw;
    background: url("assets/img/homebg.jpg") no-repeat center center/cover;
    overflow: hidden;
}

header {
    background-color: rgba(29, 29, 29, 0.6);
    width: 100%;
    /* position: relative; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    padding: 1.5em;
    margin: 0 1em;
}

.logo {
    color: white;
    font-weight: 400;
    margin-left: 2em;
    font-size: 1.5em;
    text-decoration: none;
}

.navitems ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitems ul li {
    list-style: none;
    margin: 1em;
}

.navitems ul li:hover {
    transform: scale(1.03);
}

.navitems li a {
    padding: 0.5em;
    font-size: 1em;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.navbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbuttons .btn {
    color: white;
    border-left: 1px solid #e1714e;
    border-top: 1px solid #f668a9;
    border-bottom: 1px solid #f668a9;
    border-right: 1px solid #cc55ef;
    border-radius: 1.5em;
    padding: 1em 2em;
    margin: 0 0.2em;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbuttons .btn:hover {
    scale: 1.03;
}

.navbuttons .darkmode {
    height: 3.2em;
    width: 3.2em;
    border-radius: 50%;
    background-color: black;
    margin: 0 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.navbuttons .darkmode:hover {
    transform: scale(1.06);
}


.navbuttons .darkmode img {
    height: 1em;
    width: 1em;
}


.home {
    color: white;
    display: flex;
    justify-content: space-around;
    height: 90vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}

.home-first {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-first-heading {
    margin: 1em;
}

.home-first-heading p {
    margin: 0.5em 0;
    letter-spacing: 0.3em;
    font-size: 1em;
}

.home-first-heading h1 {
    font-size: 3.5em;
}


.home-first-heading .clr {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-first-heading .btn {
    padding: 1em 2em;
    margin: 1em 0;
    border-radius: 2em;
    font-size: 0.8em;
    background: transparent;
    border: 1px solid gray;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home-first-heading .btn:hover {
    background: #121212;
    scale: 1.05;
}

.home-first-heading .btn .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ff0075;
    margin: 0 0.3em;
}

.home-first-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;
    width: 80%;
}

.home-first-contact p {
    color: rgba(155, 155, 155, 1);
}

.home-first-contact .hr {
    padding: 1px;
    background-color: grey;
    height: 100%;
}

.home-second {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.home-second img {
    height: 100%;
}

.brands {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(20, 20, 23, 1);
    padding: 2.5em;
}

.brands img {
    display: block;
    height: 3.5em;
}


.about {
    height: 100vh;
    background: rgba(10, 10, 13, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
    overflow: hidden;
}

.about .glass {
    display: inline-block;
    position: absolute;
}

.about .glass1 {
    top: -12em;
    right: -10em;
    width: 25em;
    height: 25em
}

.about .glass2 {
    width: 20em;
    height: 20em;
    bottom: 15em;
    left: -10em;
}

.about-first {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    padding: 1em;
}

.about-heading {
    padding: 1em;
    margin: 1em;
    width: 50%;
    padding-left: 5em;
}

.about-heading p {
    letter-spacing: 1em;
}

.about-heading h1 {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
}

.about-content {
    padding: 1em;
    margin: 1em;
    width: 50%;
    height: auto;
}

.about-content .para-div {
    display: flex;
}

.about-content .hr {
    padding: 1px;
    background-color: grey;
    height: 1%;
    width: 5%;
    border-radius: 0.5em;
    margin: 1em 1em 0 0;
}

.about-content p {
    width: 65%;
    font-size: 1.5em;
}

.about-content .btn {
    padding: 1.2em 2.5em;
    margin: 2em;
    border-radius: 2em;
    font-size: 0.8em;
    background: transparent;
    border: 1px solid gray;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.about-content .btn:hover {
    background: rgba(18, 18, 23, 1);
    scale: 1.05;
}

.about-second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;
    padding: 1em;
    width: 100%;
}

.about-second .card {
    height: 15em;
    width: 29em;
    background-color: rgba(18, 18, 23, 1);
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 2.5em;
    font-size: 2em;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #ff6b85;
    border-left: 1px solid rgb(63, 1, 121);
    border-right: 1px solid gray;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.about-second .card:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 10px rgba(153, 153, 153, 0.3);
}

.approach {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: rgba(10, 10, 13, 1);
}

.approach-first {
    width: 60%;
    background: url("assets/img/approach.png") no-repeat center center/cover;
    mix-blend-mode: difference;
    box-shadow: inset 10em 10em 13em rgb(0 0 0);

}

.approach-second {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em;
    padding: 4em 0;
}

.approach-second .heading-secondary {
    color: white;
    letter-spacing: 0.5em;
}

.approach-second .heading-primary {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    margin: 1em 0;
}

.approach-second .para {
    color: gray;
    width: 75%;
    line-height: 1.7em;
    font-size: 1.2em;
}

.approach-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16em;
}

.approach-second .card {
    height: 4.5em;
    width: 30em;
    background-color: rgba(18, 18, 23, 1);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    border: 1px solid #505050;
    transition: all 0.3s ease;
}

.approach-second .card:hover {
    transform: scale(1.03);
}

.approach-cards .card .card-first-heading {
    width: 30%;
}

.approach-cards .card .card-second-heading {
    width: 50%;
}

.approach-second .btn {
    padding: 1.2em 2.5em;
    border-radius: 2em;
    font-size: 0.8em;
    background: transparent;
    border: 1px solid #373737;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.approach-second .btn:hover {
    background: rgba(18, 18, 23, 1);
    scale: 1.05;
}

.services {
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(10, 10, 13, 1);
    color: white;
    padding: 1em 10em;
}

.services-heading .secondary {
    color: white;
    letter-spacing: 0.5em;
    text-align: center;
}

.services-heading .primary {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.3em;
    font-weight: bold;
    margin: 0.5em 0;
    text-align: center;
}

.services .service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(47, 47, 47, 1);
    width: 100%;
    padding: 1em 0;
}

.services .service .number {
    color: rgba(47, 47, 47, 1);
    font-size: 3em;
    width: 10%;
}

.services .service p {
    font-size: 4em;
    width: 75%;
}

.services .service .service-arrow-div {
    width: 3em;
    height: 3em;
    background-color: rgba(47, 47, 47, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.service div .material-symbols-outlined {
    color: white;
    font-size: 2em;
}

.services .btn {
    padding: 1.2em 2.5em;
    border-radius: 2em;
    font-size: 0.8em;
    background: transparent;
    border: 1px solid #373737;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.services .btn:hover {
    background: rgba(18, 18, 23, 1);
    scale: 1.05;
}

.portfolio {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(10, 10, 13, 1);

}

.portfolio .portfolio-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.portfolio-first .secondary {
    color: white;
    letter-spacing: 0.5em;
}

.portfolio-first .primary {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.3em;
    font-weight: bold;
    margin: 0.5em 0;
}

.portfolio-first .portfolio-headers {
    color: white;
    border-bottom: 1px solid rgba(47, 47, 47, 1);
    padding: 1.5em 0;
}

.portfolio-first .portfolio-headers span {
    margin: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

.portfolio-first .portfolio-headers span:hover {
    border-bottom: 2px solid #ff0075;
    padding-bottom: 1.5em;
}

.portfolio-headers span:last-child {
    color: #505050;
}

.portfolio .portfolio-second {
    display: flex;
    justify-content: space-between;
}

.portfolio .portfolio-second .img {
    height: 50vh;
    ;
    mix-blend-mode: difference;
    background-color: red;
    margin-right: 1em;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.portfolio .portfolio-second .img:hover {
    transform: scale(1.05);
}

.portfolio .portfolio-second .img1 {
    width: 30vw;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background: url("assets/img/portfolio1.png") no-repeat center center/cover;
}

.portfolio .portfolio-second .img2 {
    width: 40vw;
    border-radius: 1em;
    background: url("assets/img/portfolio2.png") no-repeat center center/cover;
}

.portfolio .portfolio-second .img3 {
    width: 30vw;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background: url("assets/img/portfolio3.png") no-repeat center center/cover;
}

.portfolio .btn {
    padding: 1.2em 2.5em;
    border-radius: 2em;
    font-size: 0.8em;
    background: transparent;
    border: 1px solid #373737;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.portfolio .btn:hover {
    background: rgba(18, 18, 23, 1);
    scale: 1.05;
}

.testimonials {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(10, 10, 13, 1);
}


.testimonials-headings .secondary {
    color: white;
    letter-spacing: 0.5em;
    text-align: center;
    font-size: 1.2em;
}

.testimonials-headings .primary {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.3em;
    font-weight: bold;
    margin: 0.5em 0;
    text-align: center;
}

.testimonials-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.testimonials-container .image1 {
    width: 16em;
    height: 16em;
    position: absolute;
    top: -6em;
    left: -6em;
    transform: rotate(30deg);
}

.testimonials-container .image2 {
    width: 14em;
    height: 14em;
    position: absolute;
    transform: rotate(30deg);
    bottom: 2em;
    right: -6em;
}

.testimonials-container .image img {
    width: 100%;
    height: 100%;
}


.testimonials-container .testimonials-container-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.testimonials-container .card {
    height: 22em;
    width: 34em;
    background-color: rgba(18, 18, 23, 0.4);
    border-radius: 1em;
    padding: 2.5em;
    transition: all 0.3s ease-in-out;
    color: white;
    margin: 1em;
    border-top: 1px solid rgb(49, 49, 49, 0.4);
    border-bottom: 1px solid rgba(255, 107, 134, 0.4);
    border-left: 1px solid rgba(63, 1, 121, 0.4);
    border-right: 1px solid rgb(128, 128, 128, 0.4);
    z-index: 2;
}

.testimonials-container .card:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.3);
}

.testimonials-container .card span {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    font-weight: bolder;
    font-style: italic;
}

.testimonials-container .card .card-heading {
    font-size: 2em;
    margin-bottom: 1em;
}

.testimonials-container .card .card-para {
    font-size: 1.2em;
    line-height: 1.8em;
    color: gray;

}

.testimonials-container .customer {
    margin: 0 1em;
}

.testimonials-container .customer .customer-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
}

.testimonials-container .customer .customer-detail .img {
    width: 4em;
    height: 4em;
    background: url('assets/img/customer.png') no-repeat center center/cover;
    border-radius: 50%;
}

.testimonials-container .customer .customer-detail .name {
    color: white;
    font-size: 1.5em;
}

.testimonials-container .customer .customer-detail .stars {
    color: yellow;
    font-size: 1.5em;
}

.testimonials-container .customer .linearborder {
    width: 100%;
    padding: 1px;
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
}

.testimonials .testimonials-divider {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials .testimonials-divider .dividerline {
    width: 5%;
    padding: 0.5px;
    background-color: #505050;
    margin: 0 0.5em;
}

.testimonials .testimonials-divider .arrow {
    width: 2em;
    height: 2em;
}

.testimonials .testimonials-divider .arrow img {
    width: 100%;
    height: 100%;
}

.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(10, 10, 13, 1);
}

.form .form-container {
    width: 80%;
    height: 80%;
    background: url('assets/img/formbg.jpg') no-repeat center center/cover;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form .form-container .form-container-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-container-main .form-heading {
    padding: 0px 8em;
}

.form-container .form-heading .secondary {
    color: white;
    letter-spacing: 0.5em;
}

.form-container .form-heading .primary {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

.form .form-container .phone-number {
    color: white;
    letter-spacing: 0.2em;
    font-size: 2em;
    font-weight: bold;
    padding: 0px 8em;
}

.form .form-container .form-form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-direction: column;
    padding: 1em 0;
}

.form .form-form .inputfield {
    width: 45%;
    display: inline-block;
    color: white;
    margin: 1em;
}

.form .form-form .inputfield label {
    display: block;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.form .form-form .inputfield small {
    color: blueviolet;
}

.form .form-form .inputfield input {
    width: 100%;
    font-size: 1.2em;
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    color: white;
}

.form .form-form .inputfield input::placeholder {
    font-size: 1em;
}

.form-form .btn {
    padding: 1.2em 3.3em;
    border-radius: 2em;
    font-size: 0.8em;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.form-form .btn:hover {
    background: rgba(18, 18, 23, 1);
    border: none;
    scale: 1.03;
}

.slider {
    width: 100vw;
    background: url(assets/img/slider.PNG) no-repeat center center / cover;
    padding: 3.5em;
}

.footer {
    width: 100vw;
    /* height: 100vh; */
    background: rgba(10, 10, 13, 1);
}

.footer .footer-top {
    padding: 2.5em;

}

.footer-top .primary {
    background: linear-gradient(to right, #ff6a3c, #ff0075, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0 2.5em;
}

.footer .footer-top .footer-top-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-top-first .card {
    height: 22em;
    width: 34em;
    background-color: rgba(18, 18, 23, 0.4);
    border-radius: 1em;
    padding: 2.5em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

.footer .footer-top-first .card .image-div {
    width: 20em;
    height: 20em;
    position: absolute;
    top: 0;
    right: -10em;
}

.footer .footer-top-first .card img {
    width: 100%;
    height: 100%;
}

.footer-top-first .card .card-heading {
    color: white;
    font-size: 1.5em;
    margin: 1em 0;
}

.footer-top-first .card .card-para {
    color: gray;
    font-size: 1.2em;
    width: 60%;
}

.footer-top-first .card .card-number {
    color: white;
    font-size: 2.2em;
    margin: 1em 0;
}

.footer .footer-top-second {
    color: white;
}

.footer-top-second .footer-top-second-top {
    display: flex;
    flex-wrap: wrap;
}

.footer-top-second .footer-top-second-top .para {
    width: 50%;
    font-size: 1.5em;
    padding: 1em;
    color: gray;
    border-bottom: 1px solid #313131;
    border-right: 1px solid #313131
}

.footer-top-second .footer-top-second-top .para span {
    color: white;
}

.footer-top-second .footer-top-second-top .phone {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #313131;
    border-right: 1px solid #313131;
}

.footer-top-second .footer-top-second-top .phoneImage {
    width: 2.5em;
    height: 2.5em;
}

.footer-top-second .footer-top-second-top .phoneImage img {
    width: 100%;
    height: 100%;
}

.footer-top-second .footer-top-second-top .phone p {
    color: gray;
}

.footer-top-second .footer-top-second-top .phone .number {
    letter-spacing: 0.1em;
}

.footer-top-second .footer-top-second-top .email {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #313131;
}

.footer-top-second .footer-top-second-top .email p {
    color: gray;
}

.footer-top-second .footer-top-second-top .email .number {
    letter-spacing: 0.1em;
}

.footer-top-second-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-top-second-bottom .footer-quicklinks {
    padding: 3em 5em;
    border-right: 1px solid #313131;
}

.footer-top-second-bottom .head {
    font-size: 1.3em;
    margin-bottom: 1em;
    color: white;
}
.footer-top-second-bottom p {
    color: gray;
    line-height: 1.5em;
}

.footer-top-second-bottom .footer-services {
    padding: 3em 5em;
    border-right: 1px solid #313131;
}

.footer-top-second-bottom .footer-get-connected {
    padding: 3em 5em;
}

.footer-top-second-bottom .footer-get-connected input {
    font-size: 1em;
    margin: 1em 0;
    padding: 1em;
    border-radius: 2em;
    width: 18em;
    background: rgba(18, 18, 23, 0.4);
    outline: none;
    border: 1px solid #121212;
}

.footer-top-second-bottom .footer-get-connected input::placeholder {
    color: gray;
}
.footer-top-second-bottom .footer-get-connected .social-icons{
    display: flex;
}
.footer-top-second-bottom .footer-get-connected .fb {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}
.footer-top-second-bottom .footer-get-connected .fb img{
    filter: invert();
}

.footer-middle{
    width: 100%;
    color:  rgba(18, 18, 23, 1);
    font-size: 8em;
    font-weight: bold;
    text-align: center;
    margin: 2em 0;
    padding: 1em 0
}

.footer-bottom{
    width: 100vw;
    background-color: rgba(18, 18, 23, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p{
    color: white;
    padding: 2em;
    letter-spacing: 0.2em;
}